@page
@model MartialApp.Areas.Identity.Pages.Account.RoleManagerModel


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRoleViewModels[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoleViewModels[0].IsSelected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserRoleViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSelected)
                </td>

            </tr>
        }
    </tbody>
</table>